.root{
    -fx-background-color: #282828;
}
.menu-bar{
	-fx-background-color: #282828 ;
}
.menu .label{
    -fx-text-fill: #e8e8e8;
}
.pane {
	-fx-background-color: #e8e8e8 ;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane{
	-fx-background-color: transparent;
}
.label{
	-fx-text-fill: #e8e8e8;
}
.split-pane {
	-fx-background-color: linear-gradient(to top, #484848, #282828);
}
.radio-button {
	-fx-text-fill: #e8e8e8;
}
.button {
	-fx-text-fill: #e8e8e8;
	-fx-background-color: transparent;
	-fx-border-color: #e8e8e8;
    -fx-border-width: 1.5;
}
.check-box {
	-fx-text-fill: #e8e8e8;
}
.menu-item {
	-fx-text-fill: #e8e8e8;
	-fx-background-color: linear-gradient(to right, #383838, #282828);
}
.context-menu {
	-fx-background-color: linear-gradient(to right, #383838, #282828);

}

.scroll-pane > .corner {
    -fx-background-color: black;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}
.anchor-pane {
	-fx-background-color: transparent;
}